body {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 600px;
}

.extension-name {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background: rebeccapurple;
  color: white;
}

.media-controls {
  width: 100%;
  display: inline-flex;
  padding: 20px 0px;
  justify-content: space-around;
}

.media-controls p {
  color: rebeccapurple;
}

.player-button {
  padding: 15px 20px;
  background: rebeccapurple;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px darkgrey;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.guide {
  padding: 20px;
}
